/*The dark window covering the screen to display the widget. */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/*message header to indicate the success of the message */
.modal-header {
    width: 100%;
    padding-bottom:40px;
}

/* Modal Content/Box */
.modal-content {
    border-radius: 15px;
    font-size:20px;
    background-color: #fefefe;
    margin: 15% auto;
    padding-bottom:50px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
    -webkit-animation-name: slide-animation;
    -webkit-animation-duration: 1s;
    animation-name: slide-animation;
    animation-duration: 1s;
    text-align:center;
}

.accept-buttons{
    backgorund-color: white;
    border-radius:5px;
    font-size:20px;
    bottom:0;
    margin: 0 20px 0 20px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Sliding in animation*/
@-webkit-keyframes slide-animation {
    from {
        top: -500px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes slide-animation {
    from {
        top: -500px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}



